
<% if @stock %>
  <div class="card bg-light results-block">
    <div class="card-body">
      <strong>Symbol: </strong><%=@stock.ticker %>
      <strong>Name: </strong><%= @stock.name %>
      <strong>Price: </strong><%= @stock.last_price %>
    </div>
  </div>
<% end %>